<div class="container-lg col-6">
  <div class="row">
    <h2>Create your listing</h2>
    <div>
      <%= simple_form_for (@listing) do |f| %>
        <%= f.input :title %>
        <%= f.input :service_description %>
        <%= f.input :location %>
        <%= f.input :fee %>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>