<div class="container">
  <div class="listing-show-title">
    <h1><%= @listing.title.capitalize %></h1>
  </div>
  <div class="listing-photo">
    <%= image_tag "https://images.pexels.com/photos/3662630/pexels-photo-3662630.jpeg?cs=srgb&dl=pexels-cottonbro-3662630.jpg&fm=jpg", class: "listing-photo" %>
  </div>
  <div class="listing-content">
    <div class="profile-booking">
      <div class="profile-photo-full-name">
        <div class= "owner-photo">
          <%= image_tag "https://images.unsplash.com/photo-1534286802268-99ddb388ed4c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80", class: "owner-photo" %>
        </div>
        <div class="full-name-link">
          <p>
            <%= link_to caregiver_profile_path(@listing) do %>
              <%= @listing.user.first_name %>
              <%= @listing.user.last_name %>
            <% end %>
          </p>
        </div>
      </div>
      <div class="book-action-btn">
        <%= link_to "Book an activity", new_listing_booking_path(@listing), class: "book-action-btn"%>
      </div>
    </div>
    <div class="listing-content-right">
      <div class="listing-show-items">
        <div class="listing-show-item">
          <div class="listing-show-item-icon">
            <h2><strong><i class="fas fa-hands-helping"></i></strong></h2>
          </div>
          <div class="listing-show-item-sheading">
            <h2>How the kids will spend time with <%= @listing.user.first_name %></h2>
            <div class="listing-show-item-content">
              <p><%= @listing.service_description %></p>
            </div>
          </div>
        </div>
        <div class="listing-show-item">
          <div class="listing-show-item-icon">
            <h2><strong><i class="fas fa-hand-holding-heart"></i></strong></h2>
          </div>
          <div class="listing-show-item-sheading">
            <h2>Fee</h2>
            <div class="listing-show-item-content">
              <p><%= @listing.fee %> per hour</p>
            </div>
          </div>
        </div>
        <div class="listing-show-item">
          <div class="listing-show-item-icon">
            <h2><strong><i class="fas fa-hand-sparkles"></i></strong></h2>
          </div>
          <div class="listing-show-item-sheading">
            <h2>Skills</h2>
            <div class="listing-show-item-content">
              <p>tags go here</p>
            </div>
          </div>
        </div>
        <div class="listing-show-item">
          <div class="listing-show-item-icon">
            <h2><i class="fas fa-map-marked-alt"></i></h2>
          </div>
          <div class="listing-show-item-sheading">
            <h2>Location</h2>
            <div class="listing-show-item-content">
              <p><%= @listing.location %></p>
            </div>
          </div>
        </div>
        <div id="map"
      style="width: 100%; height: 400px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>