<div class="container col-6">
  <div class="forms">
    <div class="card-booking">
      <h2>Booking</h2>
      <div class="card-booking-info">
        <div>
          <%= simple_form_for [@listing, @booking] do |f| %>
            <%= f.input :start_date, html5: true %>
            <%= f.input :end_date, html5: true %>
            <%= f.input :notes %>
            <%= f.submit class: 'book-action-btn' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>