  <body style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('authentication-page-background.jpg') %>'); object-fit: cover; object-position: bottom;">
  <div class="container mt-5" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2); color: white;">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-12">
        <h2>Change your password</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-12">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>

        <div class="form-inputs">
          <%= f.input :password,
                      label: "New password",
                      required: true,
                      autofocus: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      label: "Confirm your new password",
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Change my password", class: "btn btn-primary block" %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-12">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</body>
