<body style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('authentication-page-background.jpg') %>'); object-fit: cover; object-position: bottom;">
  <div class="container mt-5" style="text-shadow: 1px 1px 3px rgba(0,0,0,0.2); color: white;">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-12">
        <h2>Forgot your password?</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-12">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary block" %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-12">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</body>
