<div class="sub-container">
  <% @listings.each do |listing| %>
    <div class="card-listings">
      <div class="card-listing-l">
        <p class="location-l"><%= listing.location %></p>
        <div class="profile-img-l">
          <%= image_tag "https://images.unsplash.com/photo-1603903918985-f0cacbd0b3d9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80", class: "profile-img-l" %>
        </div>
        <div class="profile-name-l">
          <%= listing.user.first_name %>
        </div>
        <h3 class="listing-title-l"><%= listing.title.capitalize %></h3>
        <div class="service-description-l">
          <p><%= listing.service_description %></p>
        </div>
        <div class="listing-fee-l">
          <p><i class="fas fa-yen-sign"></i> <%= listing.fee %> per hour</p>
        </div>
      </div>
    </div>
  <% end %>
</div>