<div class="card-listings-l">
  <div class="picture">
    <img src="#" alt="">
    <div class="profile d-flex">
      <%= image_tag "source", alt: "alttext" %>
      <%= @user.first_name %>
    </div>
    <div class="skill-tag">
    </div>
  </div>
  <div class="info">
    <p class="location"><%=  %></p>
    <h3 class="description-heading"><%=  %></h3>
    <p class="description"><%=  %></p>
    <div class="d-flex">
      <p><%= availability %></p>
      <p><%= rate %></p>
    </div>
  </div>
</div>