<div class="listing-show-items">
  <div class="listing-show-item">
    <div class="listing-show-item-icon">
      <h2><strong><i class="fas fa-user-circle"></i></strong></h2>
    </div>
    <div class="listing-show-item-sheading">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <% if @user.phone_number.nil? %>
        <p>Phone number: Verified <i class="far fa-check-circle"></i></p>
      <% end %>
      <% if @user.listings %>
        <p><i class="fas fa-location-arrow"></i>
          <%= @user.listings.first.location %>
        <% end %>
      </p>
      <div class="listing-show-item-content">
      </div>
    </div>
  </div>
</div>
<div class="listing-show-items">
  <div class="listing-show-item">
    <div class="listing-show-item-icon">
      <h2><strong><i class="fas fa-signature"></i></i></strong></h2>
  </div>
  <div class="listing-show-item-sheading">
    <h2>About</h2>
    <div class="listing-show-item-content">
      <p><%= @user.description %></p>
    </div>
  </div>
</div>
<div class="listing-show-items">
  <div class="listing-show-item">
    <div class="listing-show-item-icon">
      <h2><strong><i class="fas fa-hand-sparkles"></i></strong></h2>
    </div>
    <div class="listing-show-item-sheading">
      <h2>Skills</h2>
      <div class="listing-show-item-content">
        <% if @user.listings.empty? %>
          <p>You have no skill tags.</p>
          <p><%= link_to 'Create a new listing to add new tags', new_listing_path %></p>
        <% else %>
          <% @user.listings.each do |listing| %>
            <% listing.tag_list.each do |tag| %>
              <%= link_to listings_path(tag: tag), class: "btn btn-secondary btn-sm mx-1" do %>
                <%= tag %>
              <% end %>
            <% end %>
          <% end %>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>