<div class="listing-banner">
  <%= image_tag "https://source.unsplash.com/-_QpJv4J_AA", class: "listing-photo" %>
  <div class="owner-info">
    <%= image_tag "https://images.unsplash.com/photo-1534286802268-99ddb388ed4c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80", class: "owner-photo" %>
    <%= link_to listings_path, class: "btn btn-info contact-btn" do %>
      <%= @listing.user.first_name %> <span><%= @listing.user.last_name %>
    <% end %>
  </div>
</div>