<div class="container 800-container">
  <div class="profile-content">
    <div class="profile-booking">
      <div class= "profile-photo-full-name">
        <div class= "owner-photo">
          <%= cl_image_tag @user.photo.key, class: "owner-photo", alt: "Profile Picture" %>
        </div>
        <div class="full-name-link">
          <p>
            View all listings from <%= @user.first_name %>
          </p>
        </div>
        <%= link_to "", user_listings_path(@user), class: "profile-photo-full-name-link" %>
      </div>
    </div>
    <div class="listing-content-right">
      <%= render '/shared/caregiver-profile' %>
      <%= link_to 'Return to the listing', listing_path(@listing), class: "book-action-btn" %>
    </div>
  </div>
</div>