<div class="page-wrapper">
  <div class="row">
    <div class="left-column p-5">
      <div class="user-photo">
        <%= image_tag "https://images.unsplash.com/photo-1534286802268-99ddb388ed4c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80", class: "avatar-large", alt: "Profile Picture" %>
        <%= link_to user_listings_path(@user), class: "btn btn-secondary" do %>
          Check out All listings from <%= @user.first_name %>
        <% end %>
        <% if @user.phone_number.nil? %>
          <p>Phone number: Verified <i class="far fa-check-circle"></i></p>
        <% end %>
      </div>
    </div>
    <div class="right-column p-5">
      <%= render '/shared/user-details' %>
      <%= link_to 'Return to the listing', listing_path(@listing), class: "btn btn-secondary" %>
    </div>
  </div>
</div>
