<div class="container 800-container">
  <div class="profile-content">
    <div class="profile-booking">
      <div class= "profile-photo-full-name">
        <div class= "owner-photo">
          <%= image_tag "https://images.unsplash.com/photo-1534286802268-99ddb388ed4c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80", class: "owner-photo" %>
        </div>
        <div class="full-name-link">
          <p>
            View all listings from <%= @user.first_name %>
          </p>
        </div>
        <%= link_to "", user_listings_path(@user), class: "profile-photo-full-name-link" %>
      </div>
    </div>
    <div class="listing-content-right">
      <%= render '/shared/caregiver-profile' %>
      <%= link_to 'Return to the listing', listing_path(@listing), class: "book-action-btn" %>
    </div>
  </div>
</div>