<div class="banner">
  <%= render '/shared/banner' %>
</div>

<div class="container">
  <div class="short-card-grid">
  <h2>Top Caregivers</h2>
    <div class="column">
      <div class="card">
        <%= render 'shared/listing-card' %>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <%= render 'shared/listing-card' %>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <%= render 'shared/listing-card' %>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <%= render 'shared/listing-card' %>
      </div>
    </div>
  </div>
  <div class="short-card-grid">
  <br>
  <h2>Featured</h2>
    <div class="column">
      <div class="card">
        <%= render 'shared/listing-card' %>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <%= render 'shared/listing-card' %>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <%= render 'shared/listing-card' %>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <%= render 'shared/listing-card' %>
      </div>
    </div>
  </div>
</div>
